* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --capuccino: #A87676;
    --rosao: #CA8787;
    --nude: #E1ACAC;
    --rosinha: #ffeeee;
}

body {
    background-color: var(--rosinha);
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 65% 25%;
    background-color: var(--capuccino);
    padding: 25px;
    align-items: center;
}

header img {
    width: 70%;
    margin: 10px;
    border-radius: 50px;
}