* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FF0000;
    color: #800000;
}

header {
    background-color: #800000; 
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h2 {
    font-size: 2.8rem;
    color: #AF3E3E; 
}

.intro p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}

.receitas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.receita {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.receita:hover {
    transform: scale(1.05);
}

.receita img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.receita h4 {
    margin-top: 15px;
    font-size: 1.6rem;
    color: #e75d45;
}

.receita p {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
}

.receita a {
    margin-top: 15px;
    display: inline-block;
    background-color: #A52A2A;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.receita a:hover {
    background-color: #A52A2A;
}

footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}

footer p {
    font-size: 1rem;
}

img {
    width: 300px; 
    height: auto; 
}